name: caller

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

env:
  NAME: "caller"
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
  callChild:
    uses: cookiedan42/reusable-actions/.github/workflows/callee.yml@main
    with:
      NAME: env.NAME
      
